<!--
Edit file. Linked to in the show page.

Allows editing of entry with the right basic authentication.
-->

<h3 class="text-center">Edit Recipe</h1>

<div class="entry center">
<%= form_for :entries, url: entry_path(@entry), method: :patch do |f| %>
		<p>
			<%= f.label :name %><br>
			<%= f.text_field(:name, :value => @entry.name) %>
			
		</p>

		<p style="width: 100%;">
			<%= f.label :description %><br>
			<%= f.text_area(:description, :value => @entry.description) %>
		</p>

		<p>
			<%= f.label :ingredients %><br>
			<%= f.text_area(:ingredients, :value => @entry.ingredients) %>
		</p>

		<p>
			<%= f.label :instructions %><br>
			<%= f.text_area(:instructions, :value => @entry.instructions) %>
		</p>
		
		<% if @entry.errors.any? %>
			<div id="error_explanation">
				<h3><%= pluralize(@entry.errors.count, "error") %> prohibited this recipe from being saved:</h3>
				<ul>
					<% @entry.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div>
			<%= f.submit %> 
			<%= button_tag 'Cancel', :type => 'button', :class => 'cancel', :onclick => "location.href = '#{entry_path(@entry)}'" %>
		</div>
	<% end %>
	
</div>

<div class="text-center">
	<span class="links"><%= link_to 'Go back to Home', entries_path %></span>
</div>