<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @entry.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @entry.instructions %>
</p>

<%= link_to 'Back', entries_path %>