<h1 class="text-center"><%= @entry.name %></h1>

<div class="entry center"> 
	<p>
	  <h3><strong>Description:</strong></h3>
	  <%= @entry.description %>
	</p>

	<hr/>
	<p>
	  <h3><strong>Ingredients:</strong></h3>
	  <%= @entry.ingredients %>
	</p>

	<hr/>
	<p>
	  <h3><strong>Instructions:</strong></h3>
	  <%= @entry.instructions %>
	</p>
</div>

<div class="text-center">
	<span class="links"><%= link_to 'Go back to Home', entries_path %> | <%= link_to 'Edit this Recipe', edit_entry_path(@entry) %> | <%= link_to 'Delete this Recipe', entry_path(@entry),
                    method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>